.first-section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  background-color: #5D3891;
  border-radius: 0px 0px 25px 25px;
}
.the-link{
  text-decoration: none;
}
.btn-custom-one{
  color: #FCFFE7;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 5px;
}
.btn-custom-one:hover{
  background-color: #FCFFE7;
  color: #5D3891;
  padding: 10px 30px;
  border-radius: 5px;
}
.btn-custom-search, .btn-custom-detail{
  background-color: #5D3891;
  color: #FCFFE7;
}
.btn-custom-search:hover,  .btn-custom-detail:hover{
  background-color: #5d3891e3;
  color: #FCFFE7;
}
.second-section{
  margin: 2% 5%;
}
.second-section-one{
  margin-bottom: 25px;
}
.title-page{
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
  color: #5D3891;
}
.second-section-two{
  flex-wrap: wrap;
}
.card-img-top{
  height: 200px;
}
.card-body{
  color: black;
}
.card-title{
  font-size: 20px !important;
  font-weight: bold;
}
.card-text{
  font-size: 16px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn-custom-detail{
 padding: 5px 15px;
 text-decoration: none;
 border-radius: 5px;
}
.btn-custom-detail-two{
  display: flex;
  justify-content: flex-end;
}