.the-one, .the-two{
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.the-form-rec{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.the-form-title{
  margin: 0px;
}
.the-button{
  display: flex;
  justify-content: flex-end;
}
.the-button-custom{
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #5D3891;
  color: #FCFFE7;
}
.title-page-two {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
  color: #5D3891;
}
.the-results{
  margin-top:25px;
}
.the-results-2{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
.card-custom{
  display: flex;
  flex-direction: row;
}