<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detail Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/katalog.css">
    <link rel="stylesheet" type="text/css" href="../static/css/detail.css">
    <link rel="stylesheet" type="text/css" href="../static/css/rekomendasi.css">

    <style type="text/css">
      body {
        font-family: Verdana;
      }
      h1 {
        font-family: Verdana, Tahoma, sans-serif;
      }
      div {
        font-family: Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="first-section d-flex justify-content-center">
        <div class=""> <a class="btn-custom-one the-link" href="katalog">Katalog</a> </div>
        <div class=""> <a class="btn-custom-one the-link" href="rekomendasi">Rekomendasi</a> </div>
      </div>
      <div class="second-section">
        <div>
          <p class="title-page-two">Detail Produk</p>
        </div>
        <div class="the-detail-produk">
          <div class="the-detail-img">
            <img class="detail-img"
              src="https://www.beautyhaul.com/assets/uploads/products/thumbs/800x800/Hy%21_Amino_Wow-tery_Hydrating_Facial_Wash_100gr.jpg"
              alt="Card image cap">
          </div>
          <div class="the-detail-body">
            <p class="detail-body-name">Simply Bright Facial Wash Grape Hyaluronic Acid 100gr</p>
            <p class="detail-body-merk">YOU BEAUTY</p>
            <div>
              <table>
                <tr class="detail-produk">
                  <td class="the-left">Jenis Produk</td>
                  <td class="the-right">: Facial Wash</td>
                </tr>
                <tr class="detail-produk">
                  <td class="the-left">Jenis Kulit</td>
                  <td class="the-right">: Berminyak</td>
                </tr>
                <tr class="detail-produk">
                  <td class="the-left">Permasalahan Kulit</td>
                  <td class="the-right">: Berjerawat</td>
                </tr>
                <tr class="detail-produk">
                  <td class="the-left">Deskripsi Produk</td>
                  <td class="the-right">: Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, magni eius vitae et necessitatibus placeat sapiente delectus iure illum saepe molestias deserunt officia recusandae quos, ex tempora voluptatum aut quaerat! It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
                  layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                  'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
                  editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                  still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                  (injected humour and the like).</td>
                </tr>
                <tr class="detail-produk">
                  <td class="the-left">Kandungan Produk</td>
                  <td class="the-right">: Lorem ipsum dolor sit amet, consectetur adip is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                  has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                  was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                  desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>